body{
    background-color: pink;
}

.Div{
     width: 1150px;
    height: 1024px;
    border: 2px solid black;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 85px;
    padding-bottom: 85px;
    padding-left: 180px;
    padding-right: 180px;
    background-color: aliceblue;
}
.c{
background-color: rgb(238, 0, 255);
width: 240px;
height: 240px;
border: 2px;  
flex-wrap: wrap;
display: flex;
border-radius: 10px;
gap: 8px;
 border: 1px solid black;
}

.c div{
    background-color: rgb(249, 180, 51);
    width: 50px;
    height: 50px;
border: 1px solid black;
display: flex;
justify-content: space-evenly;
border-radius: 10px;
}

.c2{
background-color: rgb(238, 0, 255);
width: 240px;
height: 240px;
border: 2px;  
flex-wrap: wrap;
display: flex;
border-radius: 10px;
gap: 8px;
 border: 1px solid black;
}

.c2 div{
  background-color: rgb(249, 180, 51);
    width: 50px;
    height: 50px;
border: 1px solid black;
display: flex;
justify-content: space-evenly;
border-radius: 10px;
}

.c3{
background-color: rgb(238, 0, 255);
width: 240px;
height: 240px;
border: 2px;  
flex-wrap: wrap;
display: flex;
border-radius: 10px;
gap: 8px;
 border: 1px solid black;
}

.c3 div{
    background-color: rgb(249, 180, 51);
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
}
.c4{
background-color: rgb(238, 0, 255);
width: 240px;
height: 240px;
border: 2px;  
      display: flex;
    align-items: start;
    border-radius: 10px;
    justify-content: space-around;
    gap: 8px;
     border: 1px solid black;
}

.c4 div{
               width: 50px;
    height: 50px;
    background-color: rgb(249, 180, 51);
    border-radius: 10px;
    border: 1px solid black;
}
.c5{
background-color: rgb(238, 0, 255);
width: 240px;
height: 240px;
border: 2px;  
flex-wrap: wrap;
display: flex;
border-radius: 10px;
gap: 8px;
 border: 1px solid black;
}

.c5 div{
      background-color: rgb(249, 180, 51);
    width: 50px;
    height: 50px;
border: 1px solid black;
display: flex;
justify-content: space-evenly;
border-radius: 10px;
}
.c6{
background-color: rgb(238, 0, 255);
width: 240px;
height: 240px;
border: 2px;
         display: flex;
         justify-content: end;
align-items: start;
    border: 1px solid black;
    border-radius: 10px;
    gap: 8px;
}
.c6 div{
              width: 50px;
    height: 50px;
background-color:rgb(249, 180, 51);
    border: 1px solid black;
    border-radius: 10px;
}
.c7{
background-color: rgb(238, 0, 255);
width: 240px;
height: 240px;
border: 2px; 
  display: flex;
  justify-content: center;
    align-items: start;
    border: 1px solid black;
    border-radius: 10px;
    gap: 5px;
}
.c7 div{
       background-color: rgb(249, 180, 51);
    width: 50px;
    height: 50px;
border: 1px solid black;
display: flex;
justify-content: space-evenly;
border-radius: 10px;
}

.c8{
background-color: rgb(238, 0, 255);
width: 240px;
height: 240px;
border: 2px;  
      display: flex;
    align-items: start;
    border-radius: 10px;
    justify-content: space-around;
    gap: 8px;
    border: 1px solid black;
}
.c8 div{
            width: 50px;
    height: 50px;
    background-color: rgb(249, 180, 51);
    border-radius: 10px;
    border: 1px solid black;
}

.c9{
background-color: rgb(238, 0, 255);
width: 240px;
height: 240px;
border: 2px;  
flex-wrap: wrap;
display: flex;
border-radius: 10px;
gap: 8px;
 border: 1px solid black;
}
.c9 div{
background-color: rgb(249, 180, 51);
    width: 50px;
    height: 50px;
border: 1px solid black;
display: flex;
justify-content: space-evenly;
border-radius: 10px;
}
.c10{
background-color: rgb(238, 0, 255);
width: 240px;
height: 240px;
border: 2px;  
flex-wrap: wrap;
display: flex;
border-radius: 10px;
gap: 8px;
 border: 1px solid black;
}
.c10 div{
     width: 50px;
    height: 50px;
    background-color: rgb(249, 180, 51);
    border: 1px solid black;
    border-radius: 10px; 
}
.c11{
background-color: rgb(238, 0, 255);
width: 240px;
height: 240px;
border: 2px;  
flex-wrap: wrap;
display: flex;
border-radius: 10px;
gap: 8px;
 border: 1px solid black;
}
.c11 div{
     width: 50px;
    height: 50px;
    background-color: rgb(249, 180, 51);
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.c12{
background-color: rgb(238, 0, 255);
width: 240px;
height: 240px;
border: 2px;
         display: flex;
         justify-content: space-around;
align-items: start;
    border: 1px solid black;
    border-radius: 10px;
}
.c12 div{
              width: 50px;
    height: 50px;
background-color:rgb(249, 180, 51);
    border: 1px solid black;
    border-radius: 10px;
}